<div class="postTitle">
  <%= @user.nickname %>さんの投稿一覧
</div>
<% @posts.each do |post| %>
  <%= render partial: "posts/post", locals: { post: post } %>
<% end %>

<h1>ユーザー詳細</h1>

<h2><%= @user.nickname %></h2>

<% if @user.id == current_user.id %>

<% else %>
  <% if @isRoom == true %>
    <p><a href="/rooms/<%= @roomId %>">チャットへ</a>
  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, :value=> @user.id %>
      <% end %>
      <%= f.submit "チャットを始める" %>
    <% end %>
  <% end %>
<% end %>

<%= link_to "戻る",root_path %>