<div class="articleTitle">
  トークルーム
</div>

<h4>参加者</h4>
<% @entries.each do |e| %>
  <h5><strong><a href="/users/<%= e.user.id %>"><%= e.user.nickname%>さん</a></strong></h5>
<% end %>

<hr>
<% if @messages.present? %>
  <% @messages.each do |m| %>
    <div class="mm">
    <strong><%= m.content %></strong>
    </div>
    <div class="gm">
    <%= m.user.nickname %>さん</a></strong></small>
    </div>
    <hr>
  <% end %>
<% else %>
  <h3 class="text-center">メッセージはまだありません</h3>
<% end %>

<%= form_for @message do |f| %>
  <%= f.text_area :content, placeholder: "メッセージを入力して下さい" %>
  <%= f.hidden_field :room_id, value: @room.id %>
  <br>
  <%= f.submit "送信", class: "sc"%>
<% end %>

<%= link_to "ユーザー一覧に戻る", rooms_path %>