<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
    <title>AWASOUNDS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
       <div class="header__title">
         <a href="/">
         <div class="header__title--text">
         AWASOUNDS
         </div>
         </a> 
       </div>
       <div class="header__center">
         <a href="https://www.google.com/">
         <div class= "header__center--btn">
         記事を探す
         </div>
         </a>
       </div>
       <div class="header__center2">
         <a href="https://www.google.com/">
         <div class="header__center2__right--btn">
         メンバーを探す
         </div>
         </a>
       </div>
        <%if user_signed_in? %>
          <%= link_to current_user.nickname, user_path(current_user), class: "header__center3" %>
          <%= link_to "新規投稿", new_post_path, class: "header__left" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right" %>
        <% else %>
          <%= link_to "新規登録", new_user_registration_path, class: "header__left" %>
          <%= link_to "ログイン", new_user_session_path, method: :get, class: "header__right" %>
        <% end %>
     </header>
     <div class= "banner">
       <a href="http://mohanak.net/">
        <img src="https://oursounds.net/common/images/client_bnr/mohanak.jpg?20191104" class="banner__MOHANAK">
       </a>
       <a href= "https://rockjoint.link/">
        <img src="https://oursounds.net/common/images/client_bnr/rockjoint.gif" class="banner__ROCKJOINT">
       </a>
       <a href= "https://www.soundproof.jp/">
        <img src="https://oursounds.net/common/images/client_bnr/tsunagaru_hd.gif?20190331" class="banner__サウンドプルーフプロ蒲田">
       </a>
       <a href= "https://oursounds.net/ad/">
        <img src="https://oursounds.net/common/images/banner_ad.gif" class="banner__広告募集中">
       </a>
       <a href="http://mohanak.net/">
        <img src="https://oursounds.net/common/images/client_bnr/mohanak.jpg?20191104" class="banner__MOHANAK">
       </a>
       <a href= "https://rockjoint.link/">
        <img src="https://oursounds.net/common/images/client_bnr/rockjoint.gif" class="banner__ROCKJOINT">
       </a>
       <a href= "https://www.soundproof.jp/">
        <img src="https://oursounds.net/common/images/client_bnr/tsunagaru_hd.gif?20190331" class="banner__サウンドプルーフプロ蒲田">
       </a>
       <a href= "https://oursounds.net/ad/">
        <img src="https://oursounds.net/common/images/banner_ad.gif" class="banner__広告募集中">
       </a>
     </div>
     <div class="contents">
       <%= yield %>
     </div>
  </body>
</html>
