<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
    <title>AWASOUNDS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <%= link_to "AWASOUNDS", root_path, class: "header__title" %>
      <%= link_to "記事を探す", search_posts_path, class: "header__center" %>
      <%= link_to "メンバーを探す", search_posts_path, class: "header__center2" %>
      <%if user_signed_in? %>
        <%= link_to current_user.nickname, user_path(current_user), class: "header__center3" %>
        <%= link_to "新規投稿", new_post_path, class: "header__left" %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right" %>
      <% else %>
        <%= link_to "新規登録", new_user_registration_path, class: "header__left" %>
        <%= link_to "ログイン", new_user_session_path, method: :get, class: "header__right" %>
      <% end %>
    </header>
      <div class= "banner">
        <%= link_to vocal_posts_path do %>
        <img src="https://images.unsplash.com/photo-1511671782779-c97d3d27a1d4?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" class="banner__Vocal">
        <% end %>
        <%= link_to guiter_posts_path do %>
        <img src="https://images.unsplash.com/photo-1515850031371-8230418d8aed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="banner__Guiter">
        <% end %>
        <%= link_to bass_posts_path do %>
        <img src="https://images.unsplash.com/photo-1565876651345-6a24080c1c77?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="banner__Bass">
        <% end %>
        <%= link_to keyboard_posts_path do %>
        <img src="https://images.unsplash.com/photo-1519479029449-38c9aed0f322?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" class="banner__Piano">
        <% end %>
        <%= link_to drums_posts_path do %>
        <img src="https://images.unsplash.com/photo-1519892300165-cb5542fb47c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="banner__Drums">
        <% end %>
      </div>
      <div class="contents">
        <%= yield %>
      </div>
  </body>
</html>